<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd" id="WebApp_ID" version="3.1">
  <display-name>twit</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>TwitterRequestServlet</display-name>
    <servlet-name>TwitterRequestServlet</servlet-name>
    <servlet-class>org.thinker.oauth.controller.TwitterRequestServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterRequestServlet</servlet-name>
    <url-pattern>/request</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterCallBackServlet</display-name>
    <servlet-name>TwitterCallBackServlet</servlet-name>
    <servlet-class>org.thinker.oauth.controller.TwitterCallBackServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterCallBackServlet</servlet-name>
    <url-pattern>/callback</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TwitterResourceServlet</display-name>
    <servlet-name>TwitterResourceServlet</servlet-name>
    <servlet-class>org.thinker.oauth.controller.TwitterResourceServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TwitterResourceServlet</servlet-name>
    <url-pattern>/resource</url-pattern>
  </servlet-mapping>
</web-app>